.App {
  text-align: center;
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'BebasNeueRegular';
      src: url('assets/BebasNeueRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
    }

.progressBar{

   display: flex;
   flex-direction: row;
  
   justify-content: space-evenly;
   margin: 20px;
}
.labels{
  margin: 10px;

  
}
.everything{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 20px;

  background-color: black;
  color: white;
  padding-bottom: 15px;
  font-size: 25px;
}
.react-sweet-progress-symbol{
  display: none;
}
.green-screen{

  background-color: green;
  padding: 50px;
  margin: 50px;
}